
<div class="container">
  <div class="profile-pic">
    <%= image_tag( @user.picture ) %>
  </div>
  <div class="profile-info">
    <h1>
      <%= @user.name %>
    </h1>
    <% if @user.description.nil? %>
      <p>no description...</p>
    <%else%>
      <p> <%= @user.description %> </p>
    <%end%>
    <% if @this_user%>
      <%= form_for @user, url: {action: "update"} do |f|%>
        <%= f.text_field :description %>
        <%= f.submit "update" %>
      <%end%>
    <%end%>
  </div>
</div>

