<nav class="<%= yield :header_class %>">
  <div class="container">
    <div class="header-logo">
      <%= link_to image_tag('logotype.png', size: "64x40"), root_path %>
    </div>
    <ul class="header-menu">
      <% if logged_in? %>
        <li class="menu-item">
          <%= image_tag(current_user.image, size: "32x32", class:"user-menu-img") %>
          <%= link_to current_user.first_name, user_path(current_user.id) %>
        </li>
        <li class="menu-item">
          <%= link_to "Aktiviteter", user_path(current_user.id) %>
        </li>
        <li class="menu-item">
          <%= link_to "Sign out", signout_path, :method => :delete %>
        </li>
      <% else %>
        <li class="menu-item">
          <%= link_to "Sign in with Facebook", signin_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

